body{
    display: flex;
    justify-content: center;
}
.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
/* Main parts of the page*/
.news {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    order: 1;
    border: 1px solid black;
    margin-left: -340px;
    padding: 5px 0.1px;
    width: 30%;
    background-color: rgb(20, 182, 215);
}
.feed {
    display: flex;
    flex-direction: column;
    order: 2;
    border: 1px solid black;
}
.header {
    display:flex;
    order: 3;
    margin-right: -300px;
}
/* Subparts of the main parts*/
.header-nav{
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 30px 20px;
}
.new {
    display: flex;
    margin: 0px;
    padding: 5px;
    font-size: large;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    font-style: oblique;
    background-color: inherit;
    color: rgb(255, 255, 255);
    border-bottom: 3px solid rgb(235, 235, 245);
}
.nav-btn{
    display: flex;
    align-items: center;
    font-size: 25px;
    padding: 20px 20px;
    margin: 10px 10px;
    background-color: rgb(20, 182, 215);
    color: rgb(255, 255, 255);
    font-family: 'IBM Plex Sans', sans-serif;
    text-decoration: none;
    border-radius: 20px;
}
/* ICON FIX */
.material-symbols-outlined {
    margin-right: 3px;
}


@media only screen and (min-width: 1250px) {
    .main {
      width: 1120px;
    }
}