body{
    display: flex;
    justify-content: center;
}
.main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Main parts of the page*/
.news {
    position: sticky;
    left: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 25%;
    border: 1px solid black;
    margin-left: -340px;
    padding: 5px 0.1px;
    width: 30%;
    background-color: rgb(20, 182, 215);
}
.feed {
    display: flex;
    flex-direction: column;
    order: 2;
    width: 56%;
    border: 1px solid black;
    flex-grow: 1;
}
.header {
    position: sticky;
    right: 0;
    display: flex;
    order: 3;
    margin-right: -300px;
}

/* Subparts of the main parts*/
.header-nav{
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 30px 20px;
}
.new {
    display: flex;
    padding: 6px 12px;
    font-size: large;
    width: 95%;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    font-style: oblique;
    background-color: rgb(51, 202, 31);
    color: rgb(255, 255, 255);
    border-bottom: 3px solid rgb(235, 235, 245);
}
.nav-btn{
    display: flex;
    align-items: center;
    font-size: 25px;
    padding: 20px 20px;
    margin: 10px 10px;
    background-color: rgb(20, 182, 215);
    color: rgb(255, 255, 255);
    font-family: 'IBM Plex Sans', sans-serif;
    text-decoration: none;
    border-radius: 20px;
}

/* Subclasses and actions */


/* ICON FIX */
.material-symbols-outlined {
    margin-right: 3px;
}


@media only screen and (min-width: 1250px) {
    .main {
      width: 1200px;
      position:relative;
    }
}