.feed {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    order: 2;
}
.login {
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.sections_header {
    width: 100%;
    font-size: 54px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
}
.login_sections {
    height: 350px;
    width: 750px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 72px 0px;
    border-radius: 32px;
}
.m_sticks {
    display: flex;
    align-items: center;
    height: 48px;
    background: var(--gradient-light-blue);
    border-radius: 20px;
    padding-left: 24px;
    margin-bottom: 24px;
    text-align: start;
    color: var(--blue);
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
}
.s_n_width {
    width: 580px;
}
.btn-replacement {
    width: 100%;
    padding-left: 8%;
}
.label_name {
    width: 90%;
    margin-left: 16px;
    background-color: transparent;
    font-size: 18px;
    font-weight: 700;
    font-family: 'IBM Plex Sans', sans-serif;
    color: var(--lighter-blue);
    border: 0px solid;
    cursor: pointer;
}
.register-btn {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    background: var(--gradient-green);
}
.btn {
    border: none;
    border-radius: 20px;
    padding: 6px 16px;
    cursor: pointer;
}