.header {
    position: fixed;
    right: 0;
    display: flex;
    justify-content: center;
    height: 95vh;
    order: 3;
    align-items: center;
    width: 250px;
}
.header-nav{
    display: flex;
    flex: 1;
    flex-direction: column;
}
.nav-btn{
    display: flex;
    align-items: center;
    font-size: 24px;
    padding: 20px 20px;
    margin: 10px 10px;
    background-color: rgb(20, 182, 215);
    color: rgb(255, 255, 255);
    font-family: 'IBM Plex Sans', sans-serif;
    text-decoration: none;
    border-radius: 20px;
}
.material-symbols-outlined {
    margin-right: 3px;
}