<div class="header">
    <div class="logo-name-motto">
        <img src="assets/logo.png">
        <div class="header-title">
            <span style="font-weight: 700;"> HELP ME</span>
            <span style="font-size: large; font-style: italic;"> "Always, all together!"</span>
        </div>
    </div>
    <div class="login-register-container">
        <span class="nav-btn" style="height: 4vh; background: white; color: var(--black)">
            <span class="material-symbols-outlined">
                login
            </span>
            Sign In
            </span>
        <span class="nav-btn" style="height: 4vh; background: white; color: var(--black)">
            <span class="material-symbols-outlined">
                person_add
            </span>
            Sign Up
            </span>
    </div>
</div>