<div class="feed">
    <div class="aboutus_section">
        <div class="sections_header">About Us</div>
        <div class="aboutus_box">
            <div class="aboutus_p1">We are students from GDSC Istinye University.  
                With this website, we are establishing a service 
                to help people by any means possible. Even if 
                a single person finds a response to his/her help 
                call, then it means we have contributed to the 
                society and made a step for a better world.  </div>
            <div>
                <!--
                <div class="aboutus_p2">Help Me is a non-profit organization. 
                    If you want to support us, you can do it by clicking the button</div>
                <div class="aboutus_icon"></div>
                 -->
            </div>
        </div>
    </div>
</div>