<div class="options">
    <nav class="options-nav">
        <a class="nav-btn" routerLink = "home">
            <span class="material-symbols-outlined"> home </span>
            Home
        </a>
        <a class="nav-btn" routerLink = 'explore'>
            <span class="material-symbols-outlined"> travel_explore </span>
            Explore
        </a>
        <a class="nav-btn" routerLink = 'community'>
            <span class="material-symbols-outlined"> groups </span>
            Community
        </a>
        <a class="nav-btn" routerLink="create-help" style= "background: var(--gradient-dark-blue)">
            <span class="material-symbols-outlined"> add_box </span>
            Create Help
        </a>
        <a class="nav-btn" routerLink="settings">
            <span class="material-symbols-outlined"> settings </span>
            Settings
        </a>
        <a class="nav-btn" routerLink="profile">
            <span class="material-symbols-outlined"> person </span>
            Profile
        </a>
        <a class="nav-btn" routerLink="about-us">
            <span class="material-symbols-outlined"> workspaces </span>
            About Us
        </a>
    </nav>
</div>
