.feed {
    display: flex;
    flex-direction: column;
    order: 2;
    width: 600px;
    border: 1px solid black;
    flex-grow: 1;
}
.feed-bar {
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    font-size: 36px;
}
.feed-body {
    display: flex;
    flex-direction: column;
    padding: 3px;
    border: 1px solid black;
    overflow: scroll;
    scrollbar-width: none;
}
.feed-body::-webkit-scrollbar{
    display: none;
}
.post {
    margin: 10px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 2px;
    font-weight: 200;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15), 
              0 2px 2px rgba(0,0,0,0.15), 
              0 4px 4px rgba(0,0,0,0.15), 
              0 8px 8px rgba(0,0,0,0.15);
    
}
.post-bar {
    margin: 3px;
    font-size: larger;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
}
.post-title {
    margin: 3px;
    font-size: x-large;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
}
.post-body {
    font-size: larger;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    padding: 3px 3px;
}