.feed {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    order: 2;
    width: fit-content;
    padding-right: 4%;
    height: 100vh;
}
.feed-body {
    display: flex;
    flex-direction: column;
    width: 800px;
    padding: 2px;
    overflow: scroll;
    scrollbar-width: none;
    height: 90vh;
}
.feed-body::-webkit-scrollbar{
    display: none;
}
.post {
    margin: 30px 15px;
    font-weight: 200;
    box-shadow: 0 1px 1px rgba(0,0,0,0.15), 
              0 2px 2px rgba(0,0,0,0.15), 
              0 4px 4px rgba(0,0,0,0.15), 
              0 8px 8px rgba(0,0,0,0.15);
    background: var(--blue);
    border-radius: 20px 20px;
}
.post-head{
    background: var(--gradient-light-blue);
    border-radius: 20px;
    padding: 1em 1em;
    color: var(--darker-blue);
}
.post-bar {
    font-size: x-large;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
}
.post-title {
    font-size: xx-large;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
}
.post-body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: x-large;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
    padding: 1em 1em;
}
.post-buttons{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 1%;
    gap: 7px;
    height: fit-content;
}