<div class="feed">
    <div class="feed-body">
        <div class="post" *ngIf = "posts.length === 0; else listPosts">
            <div class="post-head">
                <div class="post-bar"> Now </div>
                <div class="post-title"> There are no help calls at the moment. </div>
            </div>
            <div class="post-body"> You can create a help call, or refresh the page to check if any help calls exist.</div>
        </div>
        <ng-template #listPosts>
        <div class = "post" *ngFor ="let post of posts">
            <div class="post-head">
                <div class="post-bar"> {{post['name']}} {{post['surname']}} - {{post['date']}}</div>
                <div class="post-title"> {{post['postTitle']}}</div>
            </div>
            <div class="post-body">
                <div class="post-text"> {{post['postBody']}} </div>
                <div class="post-buttons"> 
                    <span class="material-symbols-outlined" (click)="helpClicked(post)">
                        accessibility
                    </span>
                    <span class="material-symbols-outlined" (click)="questionsClicked(post)">
                        contact_support
                    </span>
                    <span class="material-icons" (click)="bookmarkClicked(post)" [innerText]="isBookmarked(post) ? 'bookmark' : 'bookmark_border'">
                    </span>
                    <span class="material-symbols-outlined" (click)="optionsClicked(post)">
                        page_info
                    </span>
                </div>
            </div>
        </div>
    </ng-template>
    </div>
</div>
