.news {
    position: relative;
    left: 20px;
    display: flex;
    min-width: 80%;
    width: 250px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    height: 86vh;
    border-radius: 15px;
    background-color: white !important;
    overflow: scroll;
    scrollbar-width: none;
    margin-top: 2em;
    margin-bottom: 10em;
}
.new {
    display: flex;
    margin: 5px;
    width: max-content;
    padding: 6px 12px;
    font-size: large;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    font-style: oblique;
    background: var(--very-light-blue);
    color: var(--blue);
    border-bottom: 3px solid rgb(235, 235, 245);
    border-radius: 15px;
}
news::-webkit-scrollbar{
    display: none;
}