<ol class="news">
    <!-- EXAMPLE NEW
        <div class="new">
            <div class="new-title"> TITLE NAME </div>
            
        </div>
         -->
    <li class="new">
        <div class="new-title"> A massive donation by the businessman. </div>
    </li>
    <li class="new">
        <div class="new-title"> The fund has been finally collected. </div>
    </li>
    <li class="new">
        <div class="new-title"> %49 of the blood posts are filled this month. </div>
    </li>
    <li class="new">
        <div class="new-title"> A lost cat has found by the kids and given back to the owner just at the right
            time. </div>
    </li>
    <li class="new">
        <div class="new-title"> The well-known company gives 100 students scholarships. </div>
    </li>
    <li class="new">
        <div class="new-title"> Lorem ipsum dolor sit amet consectetur adipisicing.</div>
    </li>
    <li class="new">
        <div class="new-title"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate.</div>
    </li>
    <li class="new">
        <div class="new-title"> A clothing company has started to provide clothes for the victims of the
            earthquake</div>
    </li>
    <li class="new">
        <div class="new-title"> A clothing company has started to provide clothes for the victims of the
            earthquake</div>
    </li>
    <li class="new">
        <div class="new-title"> A clothing company has started to provide clothes for the victims of the
            earthquake</div>
    </li>
    <li class="new">
        <div class="new-title"> A clothing company has started to provide clothes for the victims of the
            earthquake</div>
    </li>
    <li class="new">
        <div class="new-title"> A clothing company has started to provide clothes for the victims of the
            earthquake</div>
    </li>
    <li class="new">
        <div class="new-title"> A clothing company has started to provide clothes for the victims of the
            earthquake</div>
    </li>
    <li class="new">
        <div class="new-title"> A clothing company has started to provide clothes for the victims of the
            earthquake</div>
    </li>
    <li class="new">
        <div class="new-title"> A clothing company has started to provide clothes for the victim of the
            earthquake</div>
    </li>

</ol>
