<div class="feed">
    <div class="signup">
        <div class="sections_header">Sign Up</div>
        <form class="signup_sections" formGroup="">
            <div class=""></div>
            <div class="stick_unique">
                <div class="m_sticks s_half_width">
                    <input placeholder="Name" type="text" class="label_name" name="email">
                </div>
                <div class="m_sticks s_half_width">
                    <input placeholder="Surname" type="text" class="label_name" name="email">
                </div>
            </div>
            <div class="m_sticks s_n_width">
                <input placeholder="Phone Number" type="text" class="label_name" name="email">
            </div>
            <div class="m_sticks s_n_width">
                <input placeholder="E-mail" type="email" class="label_name" name="email">
            </div>
            <div class="m_sticks s_n_width">
                <input placeholder="Password" type="password" class="label_name" name="email">
            </div>
            <div class="btn-replacement">
                <button class="btn register-btn">Register</button>
            </div>
        </form>
    </div>
</div>