.feed {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    order: 2;
    width: max-content;
    height: 90vh;
}
.profile_section {
    height: 650px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: center;
}
.profile_photo {
    color: var(--blue);
    width: 160px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#prfl {
    font-size: 100px;
    padding: 0;
}
#pp {
    font-size: 150px;
}
.profile_box {
    width: 800px;
    background-color: #fff;
    padding: 32px 48px;
    border-radius: 32px;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 25px 20px -15px;
}
.profile_left_side {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.s_half_width {
    width: 280px;
}
.s_n_width {
    width: 580px;
}
.m_sticks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    background: var(--gradient-light-blue);
    border-radius: 20px;
    padding-left: 24px;
    margin-bottom: 24px;
    text-align: start;
    color: var(--blue);
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.sections_header {
    width: 100%;
    font-size: 54px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 12px;
}

.cursor {
    cursor: pointer;
}

.hidden {
    display: none;
}

.profile_right_side {
    max-height: 450px;
    overflow: scroll;
    scrollbar-width: none;
    padding: 0 12px;
}

.bm_box {
    max-height: 220px;
    padding: 0 16px;
    overflow: scroll;
    scrollbar-width: 1px;
    overflow-x: hidden;
    margin-bottom: 16px;
    box-shadow: rgba(33, 35, 38, 0.3) 0px 10px 10px -10px;
    
}

.bm_li  {
    width: auto;
    margin-bottom: 16px;
    background-color: #c8f3f0;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 8px;
    border-radius: 8px;
    border-bottom: 1px solid #dadada;
    transition: .1s all linear;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}.bm_li:hover {
    background-color: #8ac7fa;
}
.bm_li > span {
    font-size: 10px;
    color: grey;
}.bm_li > a {
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 500;
    text-decoration: none;
    max-width: 180px;
    max-height: 40px;
    overflow-x: hidden;
    overflow-y: hidden;
}