<div class="feed">
    <div class="profile_section">
        <div class="sections_header">
            <span class="material-symbols-outlined" id="prfl">
                person
            </span>
            Profile
        </div>
        <div class="profile_box">
            <div class="profile_left_side">
                <div class="profile_photo">
                    <span class="material-symbols-outlined" id="pp">
                        account_circle
                    </span>
                </div>
                <div class="m_sticks s_half_width">Name</div>
                <div class="m_sticks s_half_width">Surname</div>
                <div class="m_sticks s_half_width">Email</div>
                <div class="m_sticks s_half_width">Phone Number</div>

            </div>
            <div class="profile_right_side">
                <div>
                    <label for="bm_check" class="cursor" >
                        <div class="m_sticks s_half_width" id="bookmarks">Bookmarks <span class="material-symbols-outlined">
                            expand_more
                            </span>
                        </div>
                        <input type="checkbox" class="" id="bm_check" style="display: none;">
                    </label>
                        <ol class="bm_box hidden">
                            <li class="bm_li">
                                <a href="">The consequenses of playing games</a>
                            </li>
                            <li class="bm_li">
                                <a href="">The consequenses of playing games</a>
                            </li>
                            <li class="bm_li">
                                <a href="">The consequenses of playing games</a>
                            </li>
                            <li class="bm_li">
                                <a href="">asdasdsad</a>
                            </li>
                            <li class="bm_li">
                                <a href="">asdasdsad</a>
                            </li>
                        </ol>
                </div>
                <div>
                    <div class="m_sticks s_half_width">My Helps
                        <span class="material-symbols-outlined">
                            expand_more
                        </span>
                    </div>
                    <ol class="bm_box hidden">
                        <li class="bm_li">
                            <a href="">The consequenses of playing games</a>
                        </li>
                        <li class="bm_li">
                            <a href="">The consequenses of playing games</a>
                        </li>
                        <li class="bm_li">
                            <a href="">The consequenses of playing games</a>
                        </li>
                        <li class="bm_li">
                            <a href="">asdasdsad</a>
                        </li>
                        <li class="bm_li">
                            <a href="">asdasdsad</a>
                        </li>
                    </ol>
                </div>
                <div>
                    label
                    <div class="m_sticks s_half_width">My Help Calls
                        <span class="material-symbols-outlined">
                            expand_more
                            </span></div>
                            <ol class="bm_box">
                                <li class="bm_li">
                                    <a href="">The consequenses of playing games</a>
                                </li>
                                <li class="bm_li">
                                    <a href="">The consequenses of playing games</a>
                                </li>
                                <li class="bm_li">
                                    <a href="">The consequenses of playing games</a>
                                </li>
                                <li class="bm_li">
                                    <a href="">asdasdsad</a>
                                </li>
                                <li class="bm_li">
                                    <a href="">asdasdsad</a>
                                </li>
                            </ol>
                </div>
            </div>
        </div>
    </div>
</div>
