<div class="feed">
    <div class="profile_section">
        <div class="sections_header">
            <span class="material-symbols-outlined" id="prfl">
                person
            </span>
            Profile
        </div>
        <div class="profile_box">
            <div class="profile_left_side">
                <div class="profile_photo">
                    <span class="material-symbols-outlined" id="pp">
                        account_circle
                    </span>
                </div>
                <div class="m_sticks s_half_width">{{userData["name"]}}</div>
                <div class="m_sticks s_half_width">{{userData["surname"]}}</div>
                <div class="m_sticks s_half_width">{{userData["email"]}}</div>
                <div class="m_sticks s_half_width">{{userData["phoneNumber"]}}</div>

            </div>
            <div class="profile_right_side">
                <div>
                    <label for="bm_check" class="cursor" >
                        <div class="m_sticks s_half_width" id="bookmarks">Bookmarked Helps<span class="material-symbols-outlined">
                            expand_more
                            </span>
                        </div>
                        <input type="checkbox" class="" id="bm_check" style="display: none;" (change)="onBookmarkCheckBoxChange($event)">
                    </label>
                        <ol class="bm_box" [hidden]="isHiddenBookmark">
                            <li class="bm_li" *ngFor="let post of bookmarkedHelps">
                                <a href="">{{post.postTitle}}</a>
                            </li>
                        </ol>
                </div>
                <div>
                    <label for="dh_check" class="cursor" >
                        <div class="m_sticks s_half_width" id="bookmarks">The Aids You Support<span class="material-symbols-outlined">
                            expand_more
                            </span>
                        </div>
                        <input type="checkbox" class="" id="dh_check" style="display: none;" (change)="onDoneHelpsCheckBoxChange($event)" value="0">
                    </label>
                    <ol class="bm_box" [hidden]="isHiddenDone">
                        <li class="bm_li" *ngFor="let post of doneHelps">
                            <a href="">{{post.postTitle}}</a>
                        </li>
                    </ol>
                </div>
                <div>
                    <label for="mhc_check" class="cursor" >
                        <div class="m_sticks s_half_width" id="bookmarks">My Helps <span class="material-symbols-outlined">
                            expand_more
                            </span>
                        </div>
                        <input type="checkbox" class="" id="mhc_check" style="display: none;" (change)="onCreatedHelpsCheckBoxChange($event)">
                    </label>
                        <ol class="bm_box" [hidden]="isHiddenCreated">
                            <li class="bm_li" *ngFor="let post of createdHelps">
                                <a href="">{{post.postTitle}}</a>
                            </li>
                        </ol>
            </div>
        </div>
    </div>
</div>
