<div class="feed">
    <div class="settings_section">
        <div class="sections_header">
            <span class="material-symbols-outlined" id="prfl">settings</span>
            Settings
        </div>
        <div class="profile-attributes">
            <div class="label_name">Name</div>
            <div class="m_sticks s_n_width">ata sesli
            </div>
            <div class="label_name">Email</div>
            <div class="m_sticks s_n_width">atasesli&#64;gmail.com
            </div>
            <div class="label_name">Phone Number</div>
            <div class="m_sticks s_n_width change">12412413123
                
                <span class="material-symbols-outlined" id="edit">edit</span>
            </div>
            <div class="label_name">Address</div>
            <div class="m_sticks s_n_width change">adasdasdsadas
                <span class="material-symbols-outlined" id="edit">edit</span>
            </div>
            <div class="label_name">Password</div>
            <div class="m_sticks s_n_width change">asdadasds
                <span class="material-symbols-outlined" id="edit">edit</span>
            </div>
            <div class="label_name">Account Type</div>
            <div class="m_sticks s_n_width change">Vip
                <span class="material-symbols-outlined" id="edit">cached</span>
            </div>
            <div class="label_name">Sign Out</div>
            <div class="m_sticks s_n_width change">Vip
                <span class="material-symbols-outlined" id="edit">cached</span>
            </div>
        </div>
    </div>
</div>
