.feed {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    order: 2;
    width: max-content;
    padding-right: 4%;
    height: 100vh;
}
.settings_section {
    height: 90vh;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: start;
    justify-content: center;
}
.sections_header {
    width: 100%;
    font-size: 54px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 12px;
}
.label_name {
    width: 90%;
    margin-left: 16px;
    background-color: transparent;
    font-size: 18px;
    font-weight: 700;
    font-family: 'IBM Plex Sans', sans-serif;
    color: var(--lighter-blue);
    border: 0px solid;
    cursor: pointer;
}
.m_sticks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    background: var(--gradient-light-blue);
    border-radius: 20px;
    padding-left: 24px;
    margin-bottom: 24px;
    text-align: start;
    color: var(--blue);
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
}
.s_half_width {
    width: 280px;
}
.s_n_width {
    width: 580px;
}
#edit {
    cursor: pointer;
}